.img-with-overlay{
  width:100%; 
  position:relative;
  opacity:0.9;;

}

.h5{
  width: 100%;
  line-height: 1.3;
  text-align: center;

}

.slide_image{
  position: relative;
  width : 60%;
  left: 900px;
  top:100px
}